#kinda{
    background-image: linear-gradient(to right, #000000, #000000c9, #00000000), url('../Assets/sabg.jpg');
}

#homeimg{
    background-image: url('../Assets/Bridge.png');
    height: 100vh;
    margin-left: -0.5%;
}
.sensor{
    background-image: url('../Assets/sensorimg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100vh;
}