@media (max-width: 800px) {
    * {
      display: none;
    }
  }


#kinda{
    background-image: linear-gradient(to right, #000000, #000000c9, #00000000), url('../Assets/sabg.jpg');
}

#homeimg{
    background-image: url('../Assets/Bridge.png');
    height: 100vh;
    margin-left: -0.5%;
}
.sensor{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    height: 150vh;
    background-size: 140vh;
    margin-left: -0.5%;
    background-position: right;
}
.home{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    background-size: 120vh;
    height: 120vh;
    margin-left: -0.5%;
    background-position: right;
}

#excel{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100vh;
    background-position: right;
}
.bridgeform-bg{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    height: 140vh;
    background-size: 135vh;
    margin-left: -0.5%;
    background-position: right;
}
#Licon-bridgeform{
    margin-top: -50%;
    width: 100%;
    opacity: 0.8;
}
#Licon-masterform{
    margin-top: -40%;
    width: 100%;
    z-index: 999;
    opacity: 0.8;
    margin-left: -9%;
}
#Licon-sensorform{
    margin-left: -3%;
    width: 100%;
    margin-top: -50%;
    opacity: 0.6;
}
#Licon-login{
    margin-top: -45%;
    margin-left: -50%;
    opacity: 0.8;
}
#sensorform-pop{
    margin-left: 30%;
    margin-top: -15%;
}
#globe{
    background: linear-gradient(to bottom, #000000cc, #00000000) ,url('../Assets/globe.jpg');
    background-repeat: no-repeat;
    background-size: 110vh;
    height: 100vh;
    margin-left: -0.5%;
    background-position: right;
}
.mid{
    margin-top: -115.5vh;
}
#forgotpw{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    background-size: 110vh;
    height: 100vh;
    margin-left: -0.5%;
    background-position: right;
}
.background{
    background-image: url('../Assets/Bridge.png');
    background-repeat: no-repeat;
    background-size: 110vh;
    height: 100vh;
    margin-left: -0.5%;
    background-position: right;
}


